* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --main-color: #2b6ec1;
  --primary-color: #e437a2;
  --secondry-color: #11dabf80;
  
}

/* navigation bar */

nav {
  display: flex;
  justify-content: space-around;
  background:linear-gradient(90deg, var(--main-color) , var(--primary-color) ) var(--secondry-color);
  height: 70px;
  width: 100%;
  align-items: center
}
ul {
  display: flex;
  gap: 70px;
  list-style: none;
}
.li {
  list-style: none;
  font-weight: bold;
}
nav button {
  padding: 0.8rem 1.5rem;
  border: none;
}
/* section1 */
.main {
  background-image: url(../media/download\ \(7\).jpeg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-items: end;
  padding-top: 10rem;
  padding-right: 2rem;
}
.ch1 {
  height: 60vh;
  width: 20%;
  background: radial-gradient(circle, rgba(146, 85, 85, 0.8), rgba(12, 226, 87, 0.5));
  align-content: top;
  padding: 3rem;
  font-style: italic;
color: white;

}


/*   section 2 */
.container {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: radial-gradient(circle, rgb(19, 65, 163) 0%, rgb(149, 42, 89) 100%);
}

.itema {
  background-color: azure;
  height: 40vh;
  width: 20%;
  padding: 2rem;
}
.itema p{
  line-height: 30px;
}



/*     section3 */
.conatiner2 {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}

.par1 {
  height: 40vh;
  width: 25%;
  background-color: aliceblue;
  background-image: url(./media/Overview\ of\ the\ Dubai\ Real\ Estate\ Market\ in\ 2024.jpeg);
  background-size: content;
  background-repeat: no-repeat;
}

.par2 {
  height: 40vh;
  width: 25%;
  background-color: rgb(211, 131, 11);
  background-image: url(./media/download\ \(7\).jpeg);
  background-repeat: no-repeat;
  background-size: content;
}

.par3 {
  height: 40vh;
  width: 25%;
  background-color: rgb(82, 69, 50);
  background-image: url(./media/6318e2916ddc28d60d89d319_Coding\ Vs.\ Programming\ 02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.par4 {
  height: 40vh;
  width: 25%;
  background-color: rgb(163, 114, 41);
  background-image: url(./media/cpgdb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*  secction4 */
.conatiner3 {
  display: flex;
  font-size: 2rem;
  text-align: center;
  background-color:white;


}

.a {

  height: 80vh;
  width: 50%;
  padding: 1rem;
}

.img {
  height: 74vh;
  width: 50%;
  background-color: white;
  background-image: url(./media/123.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 30rem;
  top: 2rem;

}

.z {
  height: 12vh;
  width: 80%;
  background-color: whitesmoke;
  margin: 2rem;
  font-size: 1rem;


}

/*  section5 */
.main2{
  height: 50vh;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 2rem;
 background-color:#2b6ec1;
}

.ch2{
  height: 10vh;
  width:25%;
  background-image: url(./media/456.jpeg);
  border-radius: 100px;
}


.ch3{
  height: 90vh;
  width:70%;
  background-color:white;
  padding-top: 1rem;
  line-height: 25px;
  text-align: center;
}
/*             section6                 */
.main3{
   display: flex;
  height: auto;
  gap: 2rem;
  background-color: white;
  padding: 4rem;
  justify-content: center;
  justify-content: space-evenly;
}
.ch4{
  height:70vh;
  width: 40%;
  background-color:white;
  line-height: 25px;
  padding: 2rem;
}
.ch5{
  height:70vh;
  width: 40%;
  text-align: center;
  background-image: url(./media/Top\ AI\ Cloud\ Business\ Management\ Platform\ Tools\ 2025.jpeg);
  background-repeat: no-repeat;
  background-size: content;
  
}

/*               section7                */
.picture{
background-image: url(./media/4a892ce7531da494a49e4dd162c4b3e4.jpg);
height: 30vh;
background-repeat: no-repeat;
width: 100%;
padding: 30px;
line-height: 30px;
background-size: cover;
color: white;
padding-left: 100px;
}
button{
  height: 40px;
  width: 50px;
  background-color: black;
  color: white;
  
}

/*  secctuion8 */
.main4{
  background-color: white;
  height: 70vh;
  gap: 1rem;
display: flex;
justify-content: center;
padding: 2rem;
}
.ch6{
  height: 350px;
  width: 350px;
  background-image: url(./media/Zsoxooll\ DIY\ Paint\ by\ Numbers\ World\ Map\ City\ Canvas\ Oil\ Painting\ Kit\ for\ Adults\,\ with\ 3\ Brushes\ and\ Acrylic\ Pigment\ for\ Home\ Wall\ Decor\ Gifts\ for\ Women\,\ 20x30cm\ \(Unframed\).jpeg);
   background-size: cover;
}
.ch7{
  height: 350px;
  width: 350px;
  background-image: url(./media/download\ \(10\).jpeg);
  background-size: cover;
}
.ch8{
  height: 350px;
  width: 350px;
  background-image: url(./media/Success.jpeg);
  background-size: cover;
}
.main5{
  background-color: white;
  height: 70vh;
  gap: 1rem;
display: flex;
justify-content: center;
}
.ch9{
  height: 350px;
  width: 350px;
  background-image: url(./media/download\ \(11\).jpeg);
  background-size: cover;
}
.ch10{
  height: 350px;
  width: 350px;
  background-image: url(./media/download\ \(16\).jpeg);
  background-size: cover;
}
.ch11{
  height: 350px;
  width: 350px;
  background-image: url(./media/download\ \(14\).jpeg);
  background-size: cover;
}
.main6{
  background:linear-gradient var( --main-color) var(--primary-color) ;
  height: 70vh;
  gap: 1rem;
display: flex;
justify-content: center;
}
.ch12{
  height: 350px;
  width: 350px;
  background-size: cover;
  background-image: url(./media/Photo\ realistic\ daytime\ image\ big\ ben\ in\ england\ _\ Premium\ AI-generated\ image.jpeg);
}
.ch13{
  height: 350px;
  width: 350px;
  background-image: url(./media/download\ \(17\).jpeg);
  background-size: cover;
}
.ch14{
  height: 350px;
  width: 350px;
  background-image: url(./media/coding\ for\ Coding\ lovers.jpeg);
  background-size: cover;
}


/*                 responsiveness               */

@media (max-width:1030px) {

.ch1 {
  width: 40%;
  height: 50vh;
  
}

/* section 2 */
.itema {
  width: 30%;
}
/*  section 4 */
.z{
  height: 20vh;

}
/*   section 5 */
.ch2{
height: 40vh;
width: 20%;

}
.ch3{
  height: 10vh;
  
}
/*  section 8 */
.main4{
  height: 80vh;
}
.main5{
  height: 80vh;
}.main6{
  height: 80vh;
}
}

@media (max-width:768px) {
  .nav{
    height: 40%;
    width: 150%;
  }
  nav h1{
    font-weight: 500;
    font-size: 20px;
  }
  nav ul{
  display: none;
  }
  /*  section 1 */
  .ch1{
    width: 70%;
    height: 65vh;
    
  }
  .itema{
    height: 65vh;
  }
 /*  section 5 */
 .ch2{
   border-radius: 100px;
 }
.ch3{
  height: 70vh;
  width: 100%;
  line-height: 18px;
  
}
}

@media (max-width:435px){
  /*  section 2 */
.container{
  height: 60vh;
}
.itema{
  width: 33%;
  height: 60vh;
  
}
.item p{
  line-height: 3px;

}
 .itema h1{
  font-weight: 400;
  font-size: 1.5rem;
  padding: none;
 }
 /*  section 4 */
 .ch3{
  line-height: 10px;
 }

 
.a {

  height: 80vh;
  width: 75%;
  background-color: aqua;
  font-size: 1rem;
  
  
}
.z{
  width: 100%;
}
/*  section 5 */
.main2{
  height: 60vh;
  
  
}
.ch2{
  height: 30vh;
  border-radius: 7px;
}
.ch3{
  height: 45%;
  width: 90%;
  line-height: 5px;

}
/*  section 6 */
.main3{
  height: 80vh;
  
}
.ch4{
  height: 60vh;
  width: 100%;
  line-height: 15px;
  padding: 1rem;

}
.ch5{
  height: 60vh;
  width: 40%;
  background-size: cover;
}
/*  section 7 */
.picture{
  height: 40vh;
  padding: 25px;
}
/*  section 8 */
.main4{
  height: 45vh;
  background-color: brown;
}
.ch6{
  height: 200px;
  width: 400px;
}
.ch7{
  height: 200px;
  width: 400px;
}
.ch8{
  height: 200px;
  width: 400px;
}
.main5{
  height: 45vh;
  
}
.ch9{
  height: 200px;
  width: 400px;
}
.ch10{
  height: 200px;
  width: 400px;
}
.ch11{
  height: 200px;
  width: 400px;
}
.main6{
  height: 35vh;
  background-color: sienna;
}
.ch12{
  height: 200px;
  width: 400px;
}
.ch13{
  height: 200px;
  width: 400px;
}
.ch14{
  height: 200px;
  width: 400px;
}
}


@media(max-width:375px){
  /*  sction 6 */
  .main3{
    height: 80vh;
  }
  
}

@media (max-width: 1445px){
  /*  section 5 */


.ch2{
  height: 30vh;
  border-radius:200px;
}
.ch3{
  height: 48%;
  width: 35%;
  line-height: 39px;

}
/*  section 4 */

}